<div class="card text-center">
  <div class="card-body">
    <h1>Editing Visitor</h1>
    <br>
    <%= render 'form', visitor: @visitor %>
    
    <%= link_to 'Show', @visitor, class:'btn btn-primary' %> 
    <%= link_to 'Back', visitors_path, class:'btn btn-secondary' %>
  </div>
</div>
<br>

