<div class="card text-center shadow-lg mb-5">
  <div class="card-header text-center">
    <h1>Mark Entry</h1>
  </div>
  <div class="card-body">
    <% if guest_signed_in? %>
      <%= render 'mark', visitor: @visitor %>
    <% else %>
      <%= render 'form', visitor: @visitor %>
    <% end %>

    <%= link_to 'Back', visitors_path, class:'btn btn-secondary' %>
  </div>
</div>
<br>